.titleManageLaporan{
    color: #EEF5FF;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px; 
}

.textSpecs{
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px; 
    font-style: normal;
    font-weight: 400; 
}