.inputLabel{
    color: #EEF5FF !important;
    font-size: 16px !important;
 }
 
 .inputBase{
     color: #1B445A !important;
     background-color: #EEF5FF !important;
     border: none !important;
 }
 
 textarea::placeholder{
     color: #6C757D;
 }