.dashboardTitle{
    color: #EEF5FF;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600; 
    text-align: center;
    margin-top: 50px;
}

.dashboardSubTitle{
    color: #EEF5FF;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400; 
    margin-top: 70px;
    text-align: center;
}

.dashboardContainer {
    
}

.cardInformationContainer{
    margin-top: 150px !important;
}

/* primary card */
.customPrimaryCardWrapper{
    max-width: 300px;
    width: 300px;
    border: 8px solid #1B6BA6 !important;
    border-radius: 8px !important; 
}
.customPrimaryCard{
    background-color: #1B6BA6 !important;
    border-radius: 0px !important;
    color: #EEF5FF !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px !important;
}
.customPrimaryBodyCard{
    background-color: transparent !important;
    border-radius: 0px !important;
}

/* danger card */
.customDangerCardWrapper{
    max-width: 300px;
    width: 300px;
    border: 8px solid #C75E6C !important;
    border-radius: 8px !important; 
}
.customDangerCard{
    background-color: #C75E6C !important;
    border-radius: 0px !important;
    color: #EEF5FF !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px !important;
}
.customDangerBodyCard{
    background-color: transparent !important;
    border-radius: 0px !important;
}

/* warning card */
.customWarningCardWrapper{
    max-width: 300px;
    width: 300px;
    border: 8px solid #F4C871 !important;
    border-radius: 8px !important; 
}
.customWarningCard{
    background-color: #F4C871 !important;
    border-radius: 0px !important;
    color: #000 !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px !important;
}
.customWarningBodyCard{
    background-color: transparent !important;
    border-radius: 0px !important;
}