.dashboardTitle{
    color: #EEF5FF;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600; 
    text-align: center;
    margin-top: 50px;
}

.dashboardSubTitle{
    color: #EEF5FF;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400; 
    margin-top: 70px;
    text-align: center;
}

.dashboardContainer {
    
}

.cardInformationContainer{
    margin-top: 150px !important;
}
